@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #1F2937;
  background: #FFF;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* ----------- */
/* General */
/* ----------- */

.header,
.hero,
.footer {
  background: #1F2937;
  color: #F9FAF8;
}

.wrapper {
  width: 1024px;
  display: flex;
  margin: 0 8px;
}

.header,
.hero,
.grid-container,
.quote,
.call,
.footer {
  display: flex;
  justify-content: center;
}


button {
  font-size: 17px;
  font-weight: 700;
  background: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  padding: 6px 32px;
  border: 2px solid #3882F6;
}

/* ----------- */
/* Header styles */
/* ----------- */

.header {
  min-height: 64px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


/* ----------- */
/* Hero styles */
/* ----------- */

.hero {
  min-height: 470px;
  display: flex;
  align-items: center;
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 240px;
  margin-bottom: 48px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero .container {
  flex: 1;
}

.hero .image {
  background: #6D747C;
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.subtext {
  color: #E5E7EB;
}

.hero button {
  margin-top: 14px;
}

/* ----------- */
/* Grid styles */
/* ----------- */

.grid-container {
  min-height: 500px;
}

.information {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 48px;
}

.grid-container .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.grid .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.image-placeholder {
  border: 4px solid #3882F6;
  border-radius: 16px;
  width: 168px;
  height: 168px;
}

.grid p {
  margin: 8px 0;
  text-align: center;
  width: 168px;
}

/* ----------- */
/* Quote styles */
/* ----------- */

.quote {
  background: #E5E7EB;
  color: #1F2937;
  min-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote .wrapper {
  max-width: 800px;
}

.quote blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 24px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.author {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
  margin-right: 24px;
}

/* ----------- */
/* Call to action styles */
/* ----------- */

.call {
  height: 350px;
}

.call .wrapper {
  justify-content: center;
  align-items: center;
}

.frame {
  background: #3882F6;
  color: #F9FAF8;
  margin: 8px;
  min-height: 150px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.call .container {
  margin: 8px;
}

.call-heading {
  font-size: 24px;
  font-weight: 700;
}

.call button {
  background: #3882F6;
  color: #F9FAF8;
  border-color: #F9FAF8;
  margin: 8px;
}

/* ----------- */
/* Footer styles */
/* ----------- */

.footer .wrapper {
  height: 100px;
  justify-content: center;
  align-items: center;
}
