@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #1F2937;
  background: #F9FAF8;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* ----------- */
/* General */
/* ----------- */

.header,
.hero,
.footer {
  background: #1F2937;
  color: #F9FAF8;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

button {
  font-size: 16px;
  font-weight: 700;
  background: #3882F6;
  color: #F9FAF8;
  border-radius: 6px;
  padding: 8px 36px;
  border: 2px solid #3882F6;
}

/* ----------- */
/* Header styles */
/* ----------- */

.header {
  height: 64px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ----------- */
/* Hero styles */
/* ----------- */

.hero {
  height: 470px;
  display: flex;
  align-items: center;
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero .container {
  flex: 1;
}

.hero .image {
  background: #6D747C;
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtext {
  color: #E5E7EB;
}

.hero button {
  margin-top: 14px;
}

/* ----------- */
/* Grid styles */
/* ----------- */

.grid-container {
  height: 450px;
}

.information {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 48px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.grid .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-placeholder {
  border: 4px solid #3882F6;
  border-radius: 16px;
  width: 168px;
  height: 168px;
}

.grid p {
  margin-top: 8px;
  text-align: center;
  width: 168px;
}

/* ----------- */
/* Quote styles */
/* ----------- */

.quote {
  background: #E5E7EB;
  color: #1F2937;
  height: 430px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.thor {
  font-size: 24px;
  font-weight: 700;
}

/* ----------- */
/* Call to action styles */
/* ----------- */

.call {
  height: 350px;
}

.frame {
  background: #3882F6;
  color: #F9FAF8;
}

.call-heading {
  font-size: 24px;
  font-weight: 700;
}

.call button {
  background: #3882F6;
  color: #F9FAF8;
}

/* ----------- */
/* Footer styles */
/* ----------- */

.footer {
  height: 100px;
}
